<div class="container-screen">
    <div class="title-screen">
        <h1>Compartilhamento de conteúdos acadêmicos</h1>
    </div>
    <div class="search-file">
        <mat-form-field color="primary" appearance="standard" floatLabel="always" [hideRequiredMarker]="true"
            class="form-file">
            <mat-label>Pesquisar</mat-label>
            <input type="text" matInput [formControl]="formFilter" placeholder="Pesquise pelo nome do arquivo"
                (keyup.enter)="reloadDocuments(formFilter.value)" [disabled]="!formFilter.valid">
            <button mat-icon-button matSuffix color="primary" aria-label="button"
                (click)="reloadDocuments(formFilter.value)">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </div>


    <div class="title-table" *ngIf="documentsList.length > 0">
        Documentos Compartilhados
    </div>

    <div class="align-input-file">
        <div class="mb-3" class="input-file-custom">
            <label for="formFileSm" class="label-custon">Adicionar arquivo <mat-icon>download</mat-icon></label>
            <input class="form-control form-control-sm" id="formFileSm" type="file" placeholder="teste" accept=".pdf" style="display: none;" (change)="uploadFile($event.target)">
        </div>
    </div>

    <div class="table-result" *ngIf="documentsList.length > 0">
        <mat-divider *ngIf="showLines.top"></mat-divider>
        <table (scroll)="onScrollEvent($event)">
            <tr>
                <th *ngFor="let column of columns">{{column}}</th>
            </tr>
            <tr *ngFor="let item of documentsList">
                <td>{{item?.name}}</td>
                <td>{{item?.date | date: "dd/MM/yyyy 'ás' HH:mm"}}</td>
                <td>
                    <button mat-icon-button aria-label="button" class="pdf-button"
                        (click)="downloadDocuments(item?.name)">
                        <mat-icon [matTooltip]="'Clique para visualizar'" [matTooltipPosition]="'left'"
                            svgIcon="pdf"></mat-icon>
                    </button>
                </td>
            </tr>
        </table>
        <mat-divider *ngIf="showLines.bottom"></mat-divider>
    </div>

    <!-- <div>
        <label for="imageUpload" class="btn btn-primary btn-block btn-outlined">Seleccionar imagenes</label>
        <input type="file" id="imageUpload" (change)="uploadFile($event.target)">
    </div> -->



</div>



<ngx-spinner size="large" color="#8dba38" [showSpinner]="loading" type="ball-clip-rotate-multiple" [fullScreen]="true">
    <p style="font-size: 20px; color: white">Loading..</p>
</ngx-spinner>