//default colors

$dark-blue: #102668;
$medium-blue: #1e60a8;
$light-blue: #6fc8d2;
$light-green: #8dba38;
$purple: #1f0048;


$white: #ffffff;
$black: #000000;
$transparent-backgroud: #ffffff12;
$light-gray: #c3c3c3;
$dark-gray: #5d5d5d;
$color-backgroud-app: #ffffffe0;
$red-error: #c20000;



